@media(max-width:991px){
    header,
    header.sticky{
        padding: 15px 5%;
    }

    footer{
        padding: 15px 5%;
    }

    section{
        padding: 50px;
    }
    .navlist{
        padding: 8px 15px;
    }
    :root{
        --big-font: 2.2rem;
        --normal-font: 1.8rem;
        --neon-box-shadow: 0 0 0.8rem #12f7ff;
        --h2-font: 3rem;
    }
    .home-content{
        margin-top: 5rem;
    }
    .social-icons{
        margin: 2rem;
    }
}

@media(max-width:768px){
    #menu-icon {
        display: block;
        transition: transform 0.5s ease;
    }

    section{
        padding: 40px;
    }
    
    #menu-icon.bx-x {
        transform: rotate(-180deg);
    }

    .info-box h5{
        padding: 2px;
        font-weight: 100;
        font-size: 0.8rem;

    }
    
    .navlist {
        display: flex;
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        padding: 0.5%;
        transition: top 0.5s ease;
    }
    
    .navlist a {
        display: block;
        padding: 1rem 0;
        font-size: 1rem;
    }
    
    .navlist.open {
        top: 0;
    }
    .home{
        grid-template-columns: repeat(1fr);
    }
    .home-img{
        margin-bottom: 5rem;
    }
    .about{
        flex-direction: column-reverse;
    }

    .skill-main{
        grid-template-columns: 1fr;
    }
    .filter-buttons{
        margin: 2.5rem 0;
    }
    footer p{
        font-size: .8rem;
    }
}

@media(max-width:420px){
    html{
        font-size: 80%;
    }
    section{
        padding: 20px;
    }
    footer p{
        font-size: .6rem;
    }
    .filter-buttons{
        font-size: .8rem;
    }
    .about.img-about img{
        width: 300px;
    }
    .info-about,.info-about2{
        display:none;
    }
    .port-box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    .img-about p{
        font-size: 1rem;
    }
    .main-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 10px;
    }
    .port-image{
        margin-right: 10px;
    }
}
